.nav-item{
    margin-left: 100px;
    padding-left: 10px;
    
}

.navbar-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    margin-top: 50px;
}

.homepage-image{
    margin-top: 50px;
    height: 300px;
    width: 100%;
    z-index: -1;
}

.content{
    position: relative;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 100px;
}

.text1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 2em;
}

.aboutimage{
    height: 500px;
    width: 500px;
    margin-right: 0px;
}

.publishbutton{
    padding-left: 100px;
}

.compose{
    margin-right: 100px;
}